.glowingList__item {
  position: relative;
  padding: 20px 120px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  &::before {
    z-index: -1;
  }

  &::after {
    z-index: -2;
    filter: blur(40px);
  }

  &:hover {
    color: #111;

    &::before,
    &::after {
      transform: scaleY(1);
      transform-origin: top;
    }
  }
}

@media screen and (max-width: 500px) {
  .glowingList__item {
    padding: 20px 70px;
  }
}
