.QuizesItem {
  width: 260px;
  height: 390px;
  margin: 1rem;
  text-align: center;
  border-radius: 3px;
  transition: 200ms ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    margin-bottom: -10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
  }

  .img {
    position: absolute;
    width: 260px;
    height: 390px;
  }

  .title {
    color: #fff;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    z-index: 3;
  }
}

