.back-button{
  width:50px;
  height:50px;
  position: fixed;
  top: 6rem;
  left: 4rem;
  transform: translate(-50%, -50%);
  border-radius:50%;
  border:#03A9F4 1px solid;
  overflow:hidden;
  transition:background 0.3s ease;
  z-index: 8;
  &.back{
    .arrow-wrap{
      left:-50%;
    }
  }
  &:hover{
    background:#03A9F4;
    .arrow-wrap{
      span{
        background:#fff;
      }
    }
  }
  .arrow-wrap{
    display:block;
    position:absolute;
    height:70%;
    width:70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:left 0.3s ease;
    span{
      height:1px;
      left:0;
      top:50%;
      background:#03A9F4;
      position:absolute;
      display:block;
      transition:background 0.3s ease;
    }
    .arrow-part-1{
      width:100%;
      transform: translate(0, -50%);
    }
    .arrow-part-2{
      width:60%;
      transform: rotate(-45deg);
      transform-origin: 0 0;
    }
    .arrow-part-3{
      width:60%;
      transform: rotate(45deg);
      transform-origin: 0 0;
    }
  }
}
