.success {
  color: green;
}

.error {
  color: red;
}

.FinishedQuizList {
  box-shadow: 0 20px 40px black;
  list-style: none;
  margin: 1rem;

  .FinishedQuizItem {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;

  }
}
