@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #282828;
  color: dimgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  text-align: center;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
}

ul {
  margin: 0;
  padding: 0;
}
